<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanael Dessert Café</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Kanael Dessert Café </h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/menu">Menu</a> |
            <a href="/checkout">Order</a> |
            <a href="/admin">Admin</a>
        </nav>
    </header>

    <main>
        <p>Luxury desserts crafted with love </p>
    </main>

    <footer>
        <p>Contact us at kanael@desserts.com | © 2025 Kanael</p>
    </footer>
</body>
</html>